*{
    margin:0;
    padding:0; 
     box-sizing: border-box;
}  
body{
   font-family: 'Mochiy Pop One', sans-serif; 
font-family: 'Poppins', sans-serif; 
background-color:#f5f5dc;
}
.nav{
    padding: 20px 0px 0px 5%;
    display: flex;
  row-gap: 100px;
   justify-items: center; 
   
}
li.nav{

    height: 100px;
    width: 200px;
}
main{
    padding: 10px 0px 0px 10%;
    display: grid;
   grid-template-columns:1fr 1fr;
   grid-template-rows: 500px 500px;
   column-gap: 50px;
}
.content-left{
    padding: 25% 0% 0% 0%;
}
h1{
    margin:0px 0px 5px 0px;
    font-size: 95px;
    font-weight: 800;
   
}
p{
    margin: 20px 0px 20px 0px;
    font-size: larger;
    font-weight:500 ;
    font-style: normal;
}
.right{
display: grid;
grid-template-rows: 1fr 1fr;
row-gap: 20px;
}
img{
    border-radius: 30px;
}
button{
    height: 30px;
    width: 110px;
    font-size: medium;
    background-color: #008000;
    color: #ffffff;
   border-radius: 6px;
   border: #008000;
   padding: 5px;
   cursor: pointer;
  font-weight: 600; 
  padding: 4px;
}
button:hover{
    background-color: #0f7dd6;
}
a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: medium;
   
}
a:hover{
  
    text-decoration: underline;
    font-weight: 900; 
    color: #008000;
    font-size: large;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
column-gap: 50px;

} 
.footer-left{
   
    font-weight: 500;
}
.footer-right{
    display: flex;
    column-gap: 100px;
    
}
div ul li a i:hover{
    color: #f7f5f5;
    background-color: #f10808;
    
}
